@(books:List[Book])

<ul>
@for(book <- books) {
    <li>
        @{"title=" + book.title + ", author=" + book.author + ", isbn=" + book.isbn + ", image=" + book.imageUrl}
        @helper.form(action = routes.ProvidedBookController.delete) {
            <input type="hidden" name="title" value="@{book.title}"/>
            <input type="hidden" name="author" value="@{book.author}"/>
            <input type="hidden" name="isbn" value="@{book.isbn}"/>
            <input type="hidden" name="imageUrl" value="@{book.imageUrl}"/>
            <input type="hidden" name="id" value="@{book.id}"/>
            <input type="hidden" name="userId" value="@{book.userId}"/>
            <input type="submit" class="btn default-btn" value="削除"/>
        }
    </li>
}
</ul>
